@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  background-color: #fafafa;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
}

/*ESTILOS HEADER*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
}
header .logoHeader {
  width: 145.54px;
  height: 23.74px;
}

nav ul {
  display: inline;
}

header nav ul li {
  display: inline;
  list-style: none;
  margin-right: 28px;
}
header nav ul li a:hover {
  background-color: aliceblue;
  cursor: pointer;
  opacity: 0.7;
}
header nav ul li a {
  text-decoration: none;
  color: #242e52;
}
header .menuBurger {
  display: none;
}

.getStarted {
  background: #f3603b;
  box-shadow: 0px 4px 7px 0px #00000040;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 44px;
  border-radius: 50px;
  color: #fafafa;
}
.getStarted:hover {
  background-color: antiquewhite;
  cursor: pointer;
  opacity: 0.7;
}

/*---------------ESTILOS MAIN-------------------*/

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.div-left,
.div-right {
  width: 50vw;
  margin: 75px 70px;
}
main .hero h1 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 66px;
  color: #232c50;
}
main .hero p {
  font-family: "Be Vietnam pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16.5584px;
  line-height: 157.1%;
  margin: 28px 0px;
}

.hero .getStarted {
  margin-top: 40px;
}

.hero2 {
  display: flex;
  justify-content: space-between;
  margin: 50px 70px;
}

.hero2 .caja1 {
  margin-left: 120px;
  margin-bottom: 40px;
}

.hero2 .up {
  display: flex;
  align-items: center;
  gap: 48px;
}
.hero2 .down p {
  margin-left: 118px;
}

.hero2 .divLeft h2 {
  color: #232851;
  font-family: "Be Vietnam pro", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}

.hero2 .divRight h3 {
  color: #232851;
  font-family: "Be Vietnam pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  text-align: left;
}

.hero2 .divRight .caja1,
.caja2,
.caja3 .der p {
  color: #b3b2b7;
  font-family: "Be Vietnam pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-align: left;
}
.hero2 p {
  font-family: "Be Vietnam pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
/*----Section cards----*/

.sectionCards h2 {
  text-align: center;
  color: #242e53;
  font-family: "Be Vietnam pro", sans-serif;
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 140px;
}
.sectionCards .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
}
.sectionCards .card {
  background: #f3f3f3;
  text-align: center;
  margin: 0px 16px;
  height: 250px;
}

.sectionCards .cards .card h4 {
  color: #3f4868;
  font-family: "Be Vietnam pro", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  position: relative;
  top: -20px;
}
.sectionCards .cards .card p {
  color: #b9b9c1;
  font-family: "Be Vietnam pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 156.6%;
  position: relative;
  top: -8px;
}
.sectionCards .cards .card img {
  position: relative;
  bottom: 43px;
  height: 80px;
  width: 80px;
}

.sectionCards .button {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 130px;
}

.banner {
  background-color: #f3613c;
  width: 100%vw;
  height: 224px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner .h2 {
  width: 470px;
}
.banner h2 {
  color: #ffff;
  font-family: "Be Vietnam pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.banner .button .getStarted {
  background: #ffff;
  color: #f3603b;
}
.banner .button .getStarted:hover {
  opacity: 0.7;
  cursor: pointer;
}

/*---------ESTILOS FOOTER-----------*/
footer {
  height: 40vh;
  background-color: #1e1e26;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .sectionFooter {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sectionFooter .caja1 ul {
  padding: 0px;
}
.sectionFooter .caja1 ul li {
  display: inline;
}
.sectionFooter .caja1 ul li a img {
  margin-right: 10px;
}
.sectionFooter .caja1 ul li a img:hover {
  color: #f3603b;
  fill: #f3603b;
}
.sectionFooter .caja1 .logoFooter {
  margin-bottom: 66px;
}

.sectionFooter .caja2 {
  display: flex;
  justify-content: space-between;
}
.sectionFooter .caja2 ul {
  list-style: none;
}
.sectionFooter .caja2 ul li {
  margin: 12px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}
.sectionFooter .caja2 ul li a {
  text-decoration: none;
  color: #ffff;
}

.sectionFooter .caja3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
.sectionFooter .caja3 form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sectionFooter .caja3 form input {
  width: 201px;
  height: 44px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.sectionFooter .caja3 form button {
  background-color: #f3603b;
  border-radius: 50px;
  color: #ffff;
  font-family: "Be Vietnam pro", sans-serif;
  width: 63px;
  height: 42px;
  padding: 10px;
  margin: 0px 9px;
}
.sectionFooter .caja3 form button:hover {
  opacity: 0.6;
  cursor: pointer;
}
footer .copyright {
  color: #8c8c94;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end; 
  margin-right: 11%;
}
footer .copyright p {
  font-style: normal;
  font-weight: 500;
  font-size: 12.5px;
  line-height: 18px;
 
}

/*-------MEDIA QUERY-------*/
/*header*/
@media (max-width: 375px) {
  header nav,
  header .getStarted {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .menuBurger {
    display: flex;
  }

  /*main*/
  main .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  main .hero .div-right img {
    width: 70vw;
    height: 33vh;
  }
  main .hero2 {
    flex-direction: column;
  }
}
